@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat|Open+Sans&display=swap');
body{
  background-color: #f9fcfd;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #1e3b58
}
header{
  background-color: #f97c48;
  margin: 0 auto;
  width: 100%;
  height: 30%;
}
.img-logo{
  width: 30%
}
.center {
  display: block;
  margin:auto;
}

.btn-amarillo{
  background-color: #f9fcfd;
  color: #1e3b58;
  border-radius: 5px;
  width: 44%;
  font-size: 1.1em;
}
.fondo-card{
  background-color: #fffeff
}
.btn-verde{
  width: 80%;
  font-size: 1.2em;
  background-color: #f97c48;
  color: #ffff
}
.card-header-nav{
  background-color: #fde1be;
  color: #ffff;
}
.btn-lila{
  background-color: #fa9875
}
.btn-img-delete{
  width: 25%
}
.btn-img-plus{
  width: 50%
}
.table{
  display: table
}
.table-cell{
  display: table-cell
}
.btn-none{
  background: none;
  border: 0;
}
.titulo{
  font-size: 1.5em;
  color: #7C1E1E;
}
.label-txt{
  color: #1e3b58;
  font-size: 1em
}
